/* Importações */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');

/* Reset CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color-scheme: light;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* Definindo variáveis globais */
:root {
  /* Cores */
  --cor-principal: #F5DB7E;
  --cor-secundaria: #070707;
  --cor-ternaria: #EEE8E0;
  --preto-secundario: #222;
  /* Tipografia */
  --font-principal: 'Open Sans', sans-serif;
  --font-secundaria: 'Cinzel', serif;
  /* Espaçamento */

  /* Gradiente */
  --gradiente: linear-gradient(to right, #CA9728, #F4E188, #E7C65D);
  --cor-inicial: #CA9728;
}


/* Animação de aparecer */
.fade-in-on-scroll {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-on-scroll.show {
  opacity: 1;
  transform: scale(1);
}

/* Estiliza a navbar */
header {
  background-color: var(--cor-secundaria);
}

.navbar {
  background-color: var(--cor-ternaria);
  border-radius: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1290px;
  width: 90%;
  margin: 20px auto;
  padding: 20px 30px;
}

.navbar-scrolled {
  padding: 2px 30px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

/* ------------------ LOGO ------------------ */
.logo img {
  width: 100px;
  padding-left: 30px;
}

/* ------------------ LINKS ------------------ */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: var(--cor-inicial);
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--cor-inicial);
  bottom: 0;
  left: 0;
  transition: width 0.5s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* ------------------ MENU TOGGLE ------------------ */

.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 1001;
  /* Garante que fique acima do menu */
  display: none;
}

/* Inicialmente, os três spans do hamburguer são visíveis */
.menu-toggle span {
  background: #000;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* Quando o menu estiver ativo, o X aparece */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(4px, 8px);
  /* Ajuste para o X */
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
  /* A barra do meio desaparece */
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -8px);
  /* Ajuste para o X */
}

/* Quando o menu não estiver ativo, as barras do hambúrguer são visíveis */
.menu-toggle:not(.active) span:nth-child(1),
.menu-toggle:not(.active) span:nth-child(2),
.menu-toggle:not(.active) span:nth-child(3) {
  opacity: 1;
  transform: none;
  /* Restaura o hambúrguer para as barras normais */
}


/* ------------------ MAIN ------------------ */
/* ------------------ SECTION 1 ------------------ */
.s1 {
  background-color: var(--cor-secundaria);
}

.s1-div {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* Permite o ajuste de layout em telas menores */
}

.s1-info {
  margin: auto;
  flex: 1 1 50%;
  /* Flexível para se ajustar em telas menores */
}

.s1-info h1 {
  font-family: var(--font-secundaria);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2;
  max-width: 600px;
  margin-bottom: 16px;
  background: var(--gradiente);
  /* Usa a variável do gradiente */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.s1-info p {
  font-family: var(--font-principal);
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 600px;
  margin-bottom: 24px;

  background: var(--gradiente);
  /* Usa o gradiente */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.s1-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: var(--cor-secundaria);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background-color: var(--cor-inicial);
  /* Cor inicial */
  transition: background-position 0.5s ease-in-out;
  background-size: 200% auto;
  background-image: var(--gradiente);
  border-radius: 12px;
}

.s1-btn:hover {
  background-position: right center;
  /* Desliza para a direita */
}

.s1-img {
  background-image: url('../assets/img/LOgo\ -\ Luana\ da\ Silva\ Marinho.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 40vh;
  margin: auto;
}


/* ------------------ SECTION 2 ------------------ */

.sobre-bg {
  background-color: var(--cor-secundaria);
  height: 100vh;
}

.sobre-container {
  max-width: 1200px;
  padding-top: 15vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sobre-imagem img {
  width: 85%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Aumentando a suavidade da sombra */
  transition: transform 0.3s ease;
}

.sobre-texto {
  flex: 1;
  color: var(--cor-ternaria);
  background-color: var(--cor-secundaria);
  /* Fundo mais claro para suavizar */
}

.sobre-texto h2 {
  text-align: center;
}

.sobre-texto p {
  font-family: var(--font-principal);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  max-width: 600px;
  margin-bottom: 16px;
  background-color: var(--cor-ternaria);
  color: var(--cor-secundaria);
  padding: 30px 20px;
  border-radius: 8px;
}


.sobre-nome {
  font-family: var(--font-secundaria);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
  background: var(--gradiente);
  /* Usa a variável do gradiente */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}




/* Section Serviços */
.services-faixa-container {
  height: 100vh;
  text-align: center;
  background-color: var(--cor-de-fundo);
  /* Ajuste conforme sua variável */
}

.services-titulo {
  font-size: 2.5rem;
  padding-top: 15vh;
  font-family: var(--font-secundaria);
  color: var(--cor-secundaria);
  margin-bottom: 2rem;
}

.services-faixa {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.services-card {
  padding: 2.5rem;
  border: #000 solid 2px;
  border-radius: 8px;
  transition: transform 0.4s;
  
}

.services-card:hover {
  transform: translateY(-5px);
}

.services-card h3{
  font-size: 1.25rem;
  font-family: var(--font-secundaria);
}

.services-card p{
  font-size: 1.25rem;
  font-weight: 500;
  font-family: var(--font-principal);
}



/* Estiliza o sobre */
.sobre {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-secundaria);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-sobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.text-sobre {
  flex: 1;
  padding: 1rem;
}

.text-sobre h2 {
  font-family: var(--font-secundaria);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  background: var(--gradiente);
  /* Usa o gradiente */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-sobre p {
  font-size: 1.25rem;
  color: var(--cor-ternaria);
  font-family: var(--font-principal);
  line-height: 1.6;
}

.img-sobre {
  flex: 1;
  padding: 1rem;
}

.img-sobre img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ------------------  -AVALIAÇÕES----------------- */
.google {
  background-color: var(--cor-secundaria);
  display: flex;
}

.google-reviews {
  font-family: var(--font-principal);
  max-width: 1290px;
  margin: auto;
  padding-top: 15vh;
  height: 100vh;
}

.google-reviews h3 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--cor-ternaria);
  margin-bottom: 8px;
}

.google-link {
  color: var(--cor-ternaria);
  padding: 10px 40px;
  background-color: var(--preto-secundario);
  margin-bottom: 32px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.google-title {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
}

.google-stars {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.google-btn {
  background: linear-gradient(45deg, #3088FF, #1E60A6);
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  background-size: 200% 200%;
  transition: background-position 0.4s ease;
}

.google-btn:hover {
  background-position: 100% 100%;
}

.review-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.review {
  background: var(--preto-secundario);
  color: var(--cor-ternaria);
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 15vw;
  height: 40vh;
  flex: 0 0 auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* Aumentando a suavidade da sombra */
  transition: transform 0.3s ease;
}



.review:hover {
  transform: scale(1.05);
  /* Efeito hover mais suave */
}

.review-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.review-content h3 {
  margin: 0 0 5px;
  font-size: 18px;
}

.stars {
  color: #fbbc04;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.review-content p {
  margin: 0;
  font-size: 16px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.review-content a {
  color: blue;
  margin-top: auto;
  align-self: flex-start;
}

.review-content a:hover {
  border-bottom: 1px solid blue;
}

/* Estiliza botão de contato */
.contact{
  background-color: var(--cor-secundaria);
  padding-bottom: 20px;
  
}

.contact-container{
  height: 100vh;
  padding-top: 20vh;
}

.contact-content{
  max-width: 1290px;
  margin: auto;
  height: 35vh;
  display: block;
  border: solid 2px var(--cor-inicial);
}
.contact-text h2{
  text-align: center;
  color: var(--cor-ternaria);
  font-size: 2.5rem;
}
.contact-text p{
  text-align: center;
  color: var(--cor-ternaria);
  font-size: 1.25rem;
}
.contact-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5vh;
  gap: 20px;
  margin-top: 20px;
}

.contact-btn {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex: 0 1 calc(50% - 20px); /* Cada botão ocupa 50% da largura menos o espaço do gap */
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 500;
  color: var(--cor-secundaria);
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background-color: var(--cor-inicial);
  transition: background-position 0.5s ease-in-out;
  background-size: 200% auto;
  background-image: var(--gradiente);
  border-radius: 12px;
}

.contact-btn:hover {
  background-position: right center;
  /* Desliza para a direita */
}
.contact-btn img{
  width: 40px;
}



/* Estiliza o Footer */
footer {
  background-color: #222;
  color: white;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
}

.footer-section {
  width: 30%;
  min-width: 250px;
  margin: 10px 0;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #00bcd4;
}

.social-icons a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #00bcd4;
}

.footer-bottom {
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #444;
  margin-top: 10px;
}




@media (max-width: 768px) {

  .navbar {
    width: 90%;
    padding: 15px 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--cor-ternaria);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 16px;
    padding: 20px 0;
    border-radius: 20px;
  }

  .nav-links li {
    padding: 8px 0px;
  }

  .nav-links.nav-active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .logo img {
    width: 80px;
    padding-left: 10px;
  }


  /* Main Estilo */
  /* -------------------- AJUSTA A PRIMEIRA SECTION------------------- */
  .s1-div {
    height: 100vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;
  }

  .s1-info {
    margin: 0 auto;
    padding: 0 1rem;
  }

  .s1-info h1 {
    font-size: 3rem;
  }

  .s1-info p {
    max-width: 90%;
    margin: 0 auto 20px;
    font-size: 1.5rem;
  }



  .s1-btn {
    font-size: 1.35rem;
    /* Ajusta o tamanho do botão */
    padding: 12px 24px;
    /* Ajusta o tamanho do padding */
  }

  .s1-img {
    display: none;
  }


  /* -------------------- AJUSTA A SEGUNDA SECTION------------------- */
  .sobre-bg {
  background-color: var(--cor-secundaria);
  height: 200vh;
}

.sobre-container {
  padding-top: 15vh;
  margin: auto;
}

.sobre-imagem{
  /* height: 100vh; */
}

.sobre-imagem img {
  width: 85%;
  height: auto;
  margin: auto;
}

.sobre-texto {
  color: var(--cor-ternaria);
  background-color: var(--cor-secundaria);
  height: 100vh;
  padding: 10px;
}

.sobre-texto h2 {
  font-size: 3rem;
}

.sobre-texto p {

  font-size: 2rem;
}


.sobre-nome {
  font-family: var(--font-secundaria);
  font-size: 2.5rem;
}

  /* Ajusta a colab section */
  .services-faixa {
    grid-template-columns: repeat(2, 1fr);
  }


  /* -------------------- AJUSTA AS AVALIAÇÕES------------------- */

  .google {
    padding: 20px 10px;
  }

  .google-link {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 16px;
    gap: 16px;
  }

  .google-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .google-stars {
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .google-btn {
    width: 100%;
    max-width: 250px;
    font-size: 16px;
    padding: 12px 20px;
  }

  .review-list {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .review {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
  }

  .review-content h3 {
    font-size: 16px;
  }

  .review-content p {
    font-size: 15px;
  }

  .stars {
    font-size: 22px;
  }


}

/* Tela extra pequena (menos de 480px) */
@media (max-width: 480px) {



  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    text-align: center;
    width: 100%;
  }

  /* Ajusta a colab section */
  .services-faixa {
    grid-template-columns: 1fr;
  }

  .colaborador-item {
    flex-direction: column;
    text-align: center;
  }
}