/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f8f9fa;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul, ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button, input, textarea {
    font-family: inherit;
    border: none;
    outline: none;
  }
  
  button {
    cursor: pointer;
  }


  /* Estiliza a navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #685a5a;
    padding: 15px 20px;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.logo img{
    width: 25%;
    padding-left: 30px;
}

/* Estiliza os links */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Ícone do menu hamburguer */
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .nav-links li {
        padding: 15px 0;
    }

    .menu-toggle {
        display: block;
    }

    .nav-active {
        display: flex;
    }
}